.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 20px;
    text-align: center;
}
.content button{
    font-size: 30px;
}
.background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 400px;
    color: red;
    z-index: -1;
    filter: opacity(0.5);
}